.toolbar {
    position: fixed;
    background-color: rgb(41, 86, 158, 1);
    top: 0;
    height: 60px;
    border-bottom: solid 1px black;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.title {
    color: white;
    font-size: larger;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-weight: 600;
}

.toolbar a {
    color: white !important;
}

.active {
    text-decoration: underline;
}